<h1>{{title}}</h1>
<form >
    <div class="form1">
      <label for="title" class="form-label">Title:</label>
      <input type="text" class="form-control" id="title" placeholder="Add title" name="title"><br>
    

      <label for="description" class="form-label">Description:</label>
      <input type="text"  class="form-control" id="description" placeholder="Add description" name="description"><br>

     
      <label for="assignedto" class="form-label">Assigned To:</label>
      <select class="form-control" id="assignedto" placeholder="Assigned to">

      </select><br>

      <label for="priority" class="form-label">Priority:</label>
      <select class="form-control" id="priority" >

      </select><br>
      <div class="button">
    <button type="submit" class="btn btn-primary">Create Action</button>
    </div>
</div>
  </form>