<h1>{{title}}</h1>
<form [formGroup]="formValue">
    <div class="form1">
        <div class="form-group">
            <label for="actionTitle" class="form-label">Title:</label>
            <input type="text" required class="form-control" id="actionTitle" placeholder="Add title" formControlName="actionTitle" ><br>
        </div>

        <div class="form-group">
            <label for="description" class="form-label">Description:</label>
            <input type="text"  required class="form-control" id="description" placeholder="Add description" formControlName="description"><br>
        </div>
     
        <div class="form-group">
            <label for="assignedTo" class="form-label">Assigned To:</label>
            <select required class="form-control" id="assignedTo" placeholder="Assigned to" formControlName="assignedTo" ngModel >
                  <option *ngFor="let user of users" [value]="user.userId" >{{user.name}}</option>
            </select><br>
        </div>

        <div class="form-group">
            <label for="priority" class="form-label">Priority:</label>
            <select required class="form-control" id="priority" formControlName="priority" >
                  <option value="High">High</option>
                  <option value="Medium">Medium</option>
                  <option value="Low">Low</option>
           </select><br>
        </div>

        <div class="button">
            <button type="submit" class="btn btn-primary" (click)="createAction();">Create Action</button>
        </div>
    </div>
</form>

  