<div class="my-container">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <h1>{{title}}</h1>
            <div class="add">
                <button mat-icon-button>
                    <mat-icon class="icon-display" (click)="createaction();">add</mat-icon>
                </button></div>
            <div class="person">
                <button mat-icon-button>
                    <mat-icon class="icon-person" (click)="profile();">person</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="PendingButton">
        <table>
            <tr>
            <th><button class="Pending" (click)="pendinglist();" value="Pending">Pending Tasks</button></th>
            <th><button class="Completed"(click)="completedlist();" value="Completed">Completed Tasks</button></th>
            </tr>
        </table>
    </div>

    <div class="container">
        <div class="row col-md-6 col-md-offset-2 custyle">
            <table class="table table-striped custab">
                <tr *ngFor="let action of actions">
                    <th><button (click)="actionDetails(action.id);" class="title" value="titles">{{action.actionTitle}}</button></th><br>
                </tr>
            </table>
        </div>
    </div>
</div>





